In [1]:
import pandas as pd
from datetime import datetime
import openpyxl
from openpyxl import load_workbook
import os

In [87]:
data_file = "sharqiaSoil.xlsx"

In [88]:
df_1 = pd.read_excel(data_file, nrows=2, dtype=str)
df_1.head()

  SCOM  SALB SLU1 SLDR SLRO SLNF SLPF SMHB SMPX SMKE
0  -99  0.13  5.6  0.6   64    1    1  -99  -99  -99

In [86]:
df_2 = pd.read_excel(data_file, skiprows=3, dtype=str)
df.head()

,SLB,SLMH,SLLL,SDUL,SSAT,SRGF,SSKS,SBDM,SLOC,SLCL,SLSI,SLCF,SLNI,SLHW,SLHB,SCEC,SADC
0,15,-99,0.44,0.53,0.63,1,1.58,0.98,1.2,40,30,-99,-99,-99,-99,20,-99
1,30,-99,0.44,0.53,0.63,0.7,1.58,0.98,1,40,30,-99,-99,-99,-99,18,-99
2,50,-99,0.44,0.53,0.63,0.4,1.58,0.98,0.8,40,30,-99,-99,-99,-99,15,-99

In [91]:
# -----------------------
file_name = 'EE'
site = 'EC5'
soil_code = 'EGCLAY01'
soil_name = 'very fine Clay'
lat = '30.0'
lon = '30.0'
country = 'Egypt'
Governorate = 'Sharqia'

with open(f"{file_name}.SOL", "w") as f:
    # Header
    f.write("*SOILS: General DSSAT Soil Input File\n")
    f.write("*\n")
    f.write(f"*{soil_code:12}{site:15}{'c':5}{'-99':4}{soil_name:20}\n")
    f.write("@SITE        COUNTRY          LAT     LONG SCS FAMILY\n")
    f.write(f" {country:12}{Governorate:15}{lat:7}{lon:5}{'-99':3}\n")    
    f.write("@ SCOM  SALB  SLU1  SLDR  SLRO  SLNF  SLPF  SMHB  SMPX  SMKE\n")
    for _, row in df_1.iterrows():
        f.write(
            f"{'':3}"
            f"{row['SCOM']:5}"
            f"{row['SALB']:7}"
            f"{row['SLU1']:6}"
            f"{row['SLDR']:7}"
            f"{row['SLRO']:5}"
            f"{row['SLNF']:6}"
            f"{row['SLPF']:7}"
            f"{row['SMHB']:6}"
            f"{row['SMPX']:6}"
            f"{row['SMKE']:6}\n"
                 )
    f.write("@  SLB  SLMH  SLLL  SDUL  SSAT  SRGF  SSKS  SBDM  SLOC  SLCL  SLSI  SLCF  SLNI  SLHW  SLHB  SCEC  SADC\n")
    for _, row in df_2.iterrows():
        f.write(
            f"{'':4}"
            f"{row['SLB']:5}"
            f"{row['SLMH']:5}"
            f"{row['SLLL']:6}"
            f"{row['SDUL']:6}"
            f"{row['SSAT']:6}"
            f"{row['SRGF']:6}"
            f"{row['SSKS']:6}"
            f"{row['SBDM']:6}"
            f"{row['SLOC']:7}"
            f"{row['SLCL']:5}"
            f"{row['SLSI']:5}"
            f"{row['SLCF']:6}"
            f"{row['SLNI']:6}"
            f"{row['SLHW']:6}"
            f"{row['SLHB']:6}"
            f"{row['SCEC']:5}"
            f"{row['SADC']:5}\n"
                 )
    f.write("! Derived from WOFOST EC5-very fine")

In [78]:
f"{row['SLB']:5}"

' 50.0'